@mixin border($props) {
  @include _(
    (
      border: $props,
    )
  );
}

@mixin border-top($props) {
  @include _(
    (
      border-top: $props,
    )
  );
}

@mixin border-bottom($props) {
  @include _(
    (
      border-bottom: $props,
    )
  );
}

@mixin border-left($props) {
  @include _(
    (
      border-left: $props,
    )
  );
}

@mixin border-right($props) {
  @include _(
    (
      border-right: $props,
    )
  );
}
