@mixin font-size($n) {
  @include _(
    (
      font-size: $n,
    )
  );
}

@mixin line-height($n) {
  @include _(
    (
      line-height: $n,
    )
  );
}

@mixin font-weight($n) {
  @include _(
    (
      font-weight: $n,
    )
  );
}

@mixin letter-spacing($n) {
  @include _(
    (
      letter-spacing: $n,
    )
  );
}


@mixin font-style($n) {
  @include _(
    (
      font-style: $n,
    )
  );
}

@mixin font(
  $size: false,
  $lh: false,
  $weight: false,
  $spacing: false,
  $family: false,
  $style: false
) {
  @if $size {
    @include font-size($size);
  }

  @if $lh {
    @include line-height($lh);
  }

  @if $weight {
    @include font-weight($weight);
  }

  @if $spacing {
    @include letter-spacing($lh);
  }

  @if $family {
    font-family: $family;
  }

  @if $style {
    @include font-style($style);
  }
}

