@mixin margin-y($top, $bottom: $top) {
  @include _(
    (
      margin-top: $top,
      margin-bottom: $bottom,
    )
  );
}

@mixin margin-x($left, $right: $left) {
  @include _(
    (
      margin-left: $left,
      margin-right: $right,
    )
  );
}

@mixin margin-top($n) {
  @include _(
    (
      margin-top: $n,
    )
  );
}

@mixin margin-bottom($n) {
  @include _(
    (
      margin-bottom: $n,
    )
  );
}

@mixin margin-left($n) {
  @include _(
    (
      margin-left: $n,
    )
  );
}

@mixin margin-right($n) {
  @include _(
    (
      margin-right: $n,
    )
  );
}
