@mixin padding($n) {
  @include _(
    (
      padding: $n,
    )
  );
}

@mixin padding-y($top, $bottom: $top) {
  @include _(
    (
      padding-top: $top,
      padding-bottom: $bottom,
    )
  );
}

@mixin padding-x($left, $right: $left) {
  @include _(
    (
      padding-left: $left,
      padding-right: $right,
    )
  );
}

@mixin padding-top($n) {
  @include _(
    (
      padding-top: $n,
    )
  );
}

@mixin padding-bottom($n) {
  @include _(
    (
      padding-bottom: $n,
    )
  );
}

@mixin padding-left($n) {
  @include _(
    (
      padding-left: $n,
    )
  );
}

@mixin padding-right($n) {
  @include _(
    (
      padding-right: $n,
    )
  );
}
