@mixin wh($w, $h: $w) {
  @include _(
    (
      width: $w,
      height: $h,
    )
  );
}

@mixin height($n) {
  @include _(
    (
      height: $n,
    )
  );
}

@mixin width($n) {
  @include _(
    (
      width: $n,
    )
  );
}

@mixin max-width($n) {
  @include _(
    (
      max-width: $n,
    )
  );
} ;
