@mixin __wh($property, $val) {
  @if ($property == '@wh') {
    $width: 0;
    $height: 0;

    @if (length($val) == 2) {
      $width: nth($val, 1);
      $height: nth($val, 2);
    } @else {
      $width: nth($val, 1);
      $height: nth($val, 1);
    }

    width: rem($width);
    height: rem($height);
  }
}
